<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate</title>
    <!-- Link to your CSS stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/strawberi home.css') }}">
</head>
<body style="background-color:#fcfafd;">
    <header>
        <img src="https://i.ibb.co/KDHns6B/strawberry-logo.png" alt="strawberi_logo" width="80" height="80">
        <nav>
            <ul>
                <li><a href="https://strawberi.org/home/home.html">Home</a></li>
                <li><a href="https://strawberi.org/chat/">Chat</a></li>
                <li><a href="https://strawberi.org/blog/">Blog</a></li>
                <li><a href="https://strawberi.org/news/news.html">News</a></li>
                <li><a href="https://strawberi.org/contact/">Contact</a></li>
                <li><a href="https://strawberi.org/about/">About</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Donate</h1>
        <p>Strawberi.org is supported by individuals like you who care about and support digital sovereignty.</p>
        <p>Your support is greatly appreciated.</p>

        <h2>XMR:</h2>
        <h3>49VAgsSrxcz8RKBXwLpbHTgL7VdPjiczn2Qhvfi4LoUFMr3zNd67U13Ut4cN5iAZ9RKK9RCtozEK6MXdfs9LNURUNjbGATL</h3>

        <h2>BTC:</h2>
        <h3>bc1qwgra87g749mamkn5dy98wwl9mf085nkdcjhfmd</h3>

        <h2>ETH:</h2>
        <h3>0xA2F415a9D9974A91181AB5Bca98D5DeD5a45Df8B</h3>
    </main>
</body>
</html>
