<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strawberi News</title>
    <!-- Link to your CSS stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/strawberi home.css') }}">
</head>
<body style="background-color:#fcfafd;">
    <header>
        <img src="https://i.ibb.co/KDHns6B/strawberry-logo.png" alt="strawberi_logo" width="80" height="80">
        <nav>
            <ul>
                <li><a href="https://strawberi.org/home/home.html">Home</a></li>
                <li><a href="https://strawberi.org/chat/">Chat</a></li>
                <li><a href="https://strawberi.org/blog/">Blog</a></li>
                <li><a href="https://strawberi.org/news/news.html">News</a></li>
                <li><a href="https://strawberi.org/contact/">Contact</a></li>
                <li><a href="https://strawberi.org/about/">About</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>

<body>
  <h1>Donations page added</h1>
  <p>The team has decided to make a page for users to donate cryptocurrency.
     Each donation will help incrementally further the goal of the Strawberi mission.
      Development takes a lot of time and burns many calories.
       The team is eternally grateful for all contributions.</p>
</body>

<body>
  <footer>
  <i>Strawberi Dev team, 14 August 2024</i>
  </footer>
  </body>


<body>
<h1>Homepage Added</h1>

<p>After much consideration and waiting, we have finally made the decision to greenlight the Strawberi.org homepage.
   At the time of this update, functionality will be minimal and often lacking.
    However, frequent updates are expected in the near future.</p>

<p>There are many challenges that go into building a website.
   Two of the most forthcoming are inspiration and technical hurdles.
    What do we want to do and how are we going to do it? These are two questions that are ongoing.
     They will likely continue to be ongoing for a long time. Maybe forever.</p>

<h2>Mission Statement</h2>

<p>At this time we would like to release the proud mission statement of Strawberi.org.</p>

<p>It is the goal of the development team to create a home for open source information. Strawberi.org aims to provide a home for the open source minded.</p>
</body>

<body>
<footer>
<i>Strawberi Dev team, 13 july 2024</i>
</footer>
</body>

</html>
