<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strawberi Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/strawberi home.css') }}">
</head>
<body>
    <header>
        <img src="https://i.ibb.co/KDHns6B/strawberry-logo.png" alt="strawberi_logo" width="80" height="80">
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('chat') }}">Chat</a></li>
                <li><a href="https://strawberi.org/blog/">Blog</a></li>
                <li><a href="https://strawberi.org/news/news.html">News</a></li>
                <li><a href="https://strawberi.org/contact/">Contact</a></li>
                <li><a href="https://strawberi.org/about/">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Welcome to Strawberi.org</h1>
    </main>
</body>
</html>
